@use "../../VariablesMixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap");

.hero {
  @include flex(column, normal, normal);

  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(255, 178, 148, 1) 0%,
    rgba(255, 130, 98, 1) 14%,
    rgba(254, 101, 91, 1) 25%,
    rgba(152, 78, 100, 1) 35%,
    rgba(93, 81, 126, 1) 49%,
    rgba(43, 43, 86, 1) 58%,
    rgba(0, 0, 0, 1) 99%
  );
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;

  .typewritter {
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    width: 80vw;
    color: #f0fdf4;
    font-size: 3rem;
    z-index: 9999999;
    position: relative;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px #000000,
      0 0 5px #ffffff, 0 0 2px #ffffff;

    @include respond-to(mobile) {
      font-size: 2.2rem;
      text-shadow: 0 0 20px #ffffff, 0 0 5px #ffffff, 0 0 2px #ffffff;
    }
  }

  h1 {
    @include flex(column, center, center);
    margin-top: 55vh;
    text-align: center;
    position: relative;
    z-index: 9999999;

    @media screen and (min-width: 1000px) {
      margin-top: 45vh;
    }
  }

  &__image {
    width: 100%;
    height: 55vh;
    position: absolute;
    bottom: 0;

    @media screen and (min-width: 1000px) {
      bottom: -10vh;
    }

    &__field {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}
