@use "../../VariablesMixins.scss" as *;

.homepage {
  @include flex(column, center, center);
}

.about {
  height: 100vh;
  padding: 2em;


  h2 {
    text-align: center;
    margin-bottom: 2em;
    position: relative;

    // img {
    //   width: 30px;
    //   position: absolute;
    //   left: 50%;
    //   top: 50%
    // }

    .typewritter {
      font-size: 1.5rem;
    }

    @include respond-to(mobile) {
      margin-bottom: 1.5em;
    }
  }

  &__cards-wrapper {
    @include flex (column, space-between, center);
    height: 80vh;
  }
}

.projects {
  &__cards-wrapper {
    @include flex(column, center, center);
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  &__subtitle {
    text-align: center;
  }
}

.personal-projects {

  &__subtitle {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  &__cards-wrapper {
    @include flex(column, center, center);
    gap: 1em;
    padding: 2em;
  }
}

.contact {
  @include flex(column, center, center);
  gap: 0.5em;

  img {
    width: 25px;
  }

  &__subtitle {
    font-size: 0.7em;
    font-weight: 200;
    text-align: center;
  }

  &__subsubtitle {
    font-size: 0.5em;
    text-align: center;
  }

  &__text {
    text-align: center
  }

  &__links {
    @include flex(row, center, flex-end);
    margin-top: 1em;
    gap: 1em;

    a {
      transition: transform 0.3s ease;
    }

    a:hover {
      transform: scale(1.2)
    }
  }
}

.custom-cursor {
  position: fixed;
  top: 42vh;
  left: 75vw;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 10px rgba(255, 225, 0, 0.805);
  pointer-events: none;
  z-index: 999999;
  transition: transform 0.3s, opacity 0.3s
}

.custom-cursor-before {
  position: fixed;
  top: 42vh;
  left: 75vw;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgba(255, 225, 0, 0.507);
  border-radius: 50%;
  transition: .2s ease;
  pointer-events: none;
  z-index: 999999;
  opacity: 1;
}