@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  color: white;
  background-color: #0f172a;
}

body {
  cursor: none;
  font-family: "Quicksand", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: none;
}

h1,
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}